body {
  margin: 0;
  background: #666;
  color: #fff;
  font-size: 1em;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
  overflow-x: hidden; }

h1 {
  font-size: 3em;
  line-height: 1; }
  h1 small {
    color: #666;
    font-size: 0.5em;
    display: inline-block;
    transform: translateY(-50%); }

h2 {
  font-size: 2em;
  text-transform: uppercase;
  display: inline-block;
  position: relative; }
  h2::after {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    top: 65%;
    left: -0.5em;
    right: -0.5em;
    height: 0.5em;
    background: #ED1B24; }

a {
  color: #fff; }
  a:hover {
    color: #000; }

.site-nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  padding: 0.5em;
  background-color: rgba(255, 255, 255, 0.5);
  border: solid 1px #ccc;
  text-align: right;
  opacity: 0.5;
  transition: opacity 0.2s ease-out, background-color 0.2s ease-out; }
  .site-nav:hover {
    opacity: 1; }
  .site-nav a {
    display: block;
    text-transform: uppercase;
    font-weight: bold;
    padding: 0.5em; }
  .site-nav.js-lightbg {
    background-color: #000; }

.site-footer {
  text-align: center;
  font-weight: bold;
  padding: 20px; }

.section {
  min-height: 100vh;
  position: relative;
  z-index: 1;
  box-sizing: border-box;
  padding: 25px;
  text-align: center;
  background-color: #000;
  background-repeat: repeat; }

.bg-blackimg {
  background-image: url(/images/vtg_texture_black.jpg); }

.bg-whiteimg {
  background-image: url(/images/vtg_texture_white.jpg);
  color: #000; }

.bg-red {
  background-color: #ED1B24; }
  .bg-red h2::after {
    background: #000; }

.bg-red2 {
  background-color: #c51017; }
  .bg-red2 h2::after {
    background: #000; }

.section2,
.section2_1 {
  perspective: 1000px; }

.section2-object1,
.section2_1-object1 {
  position: absolute;
  top: 50%;
  left: 0;
  background: #666;
  height: 100px;
  width: 100px; }

.section2-object2,
.section2_1-object2 {
  position: absolute;
  top: 50%;
  left: 15%;
  background: #000;
  height: 100px;
  width: 100px; }

.section2-object3,
.section2_1-object3 {
  position: absolute;
  top: 45%;
  right: 15%;
  background: #000;
  height: 400px;
  width: 400px; }

.section3 {
  background-color: transparent; }

.section3-fixedbg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  z-index: -1; }
  .section3-fixedbg.js-active {
    position: fixed; }

.section3-object1 {
  position: absolute;
  top: 0;
  left: 75%;
  background: #666;
  height: 100px;
  width: 100px; }

.section3-object2 {
  position: absolute;
  top: 50%;
  left: 40%;
  background: #333;
  height: 45%;
  width: 200px; }
  .section3-object2::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    top: -10px;
    right: -10px;
    bottom: -10px;
    left: -10px;
    background: rgba(0, 0, 255, 0.5);
    opacity: 0;
    transition: opacity .25s ease; }
  .section3-object2::after {
    content: "";
    display: block;
    position: absolute;
    z-index: -2;
    top: -20px;
    right: -20px;
    bottom: -20px;
    left: -20px;
    background: rgba(255, 0, 0, 0.5);
    opacity: 0;
    transition: opacity .5s ease; }
  .section3-object2 span {
    display: none;
    position: absolute;
    top: 75%;
    left: 0;
    right: 0;
    text-align: center; }
  .section3-object2.js-active::before, .section3-object2.js-active::after {
    opacity: 1; }
  .section3-object2.js-active span {
    display: block; }

.section4-objects {
  display: flex;
  flex-flow: row wrap;
  width: 80%;
  height: 400px;
  margin: 25px auto; }
  .section4-objects > div {
    flex: 1 1 20%;
    background: #ccc;
    border: solid 1px #fff; }

.section5-text {
  font-size: 1.5em;
  font-style: italic;
  color: #8b8bff;
  padding: 1em; }
  .section5-text-2 {
    position: absolute;
    bottom: 2%;
    left: 50%;
    transform: translateX(-50%); }

.section5-2col {
  display: flex; }
  .section5-2col > div {
    flex: 0 0 50%; }
  .section5-2col-col1 video {
    width: 100%;
    height: auto; }
  .section5-2col-col2 .iframe-container {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%; }
  .section5-2col-col2 iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.section6-object {
  padding: 80px 0; }
  .section6-object ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 100%; }
    .section6-object ul li {
      flex: 1 1 auto;
      height: 20vw; }
    .section6-object ul li:nth-child(odd) {
      background: #960c12; }
    .section6-object ul li:nth-child(even) {
      background: #380407; }

.section7 .svg-bolt {
  display: block;
  margin: -100px auto -50px;
  height: 80vh;
  width: auto;
  transform: rotate(55deg); }

.section7 .svg-force4good {
  display: block;
  width: 50%;
  height: auto;
  margin: 0 auto 80px; }

.section8 {
  background-attachment: fixed; }

.svg-voltage {
  width: 50%;
  height: auto;
  margin: 80px auto;
  transform-origin: center center; }
