$red: #ED1B24;

body {
	margin: 0;
	background: #666;
	color: #fff;
	font-size: 1em;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1.4;
	overflow-x: hidden;
}

h1 {
	font-size: 3em;
	line-height: 1;

	small {
		color: #666;
		font-size: 0.5em;
		display: inline-block;
		transform: translateY( -50% );
	}
}

h2 {
	font-size: 2em;
	text-transform: uppercase;
	display: inline-block;
	position: relative;

	&::after {
		content: "";
		display: block;
		position: absolute;
		z-index: -1;
		top: 65%;
		left: -0.5em;
		right: -0.5em;
		height: 0.5em;
		background: $red;
	}
}

a {
	color: #fff;

	&:hover {
		color: #000;
	}
}

.site-nav {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	padding: 0.5em;
	background-color: rgba( 255, 255, 255, 0.5 );
	border: solid 1px #ccc;
	text-align: right;
	opacity: 0.5;
	transition: opacity 0.2s ease-out, background-color 0.2s ease-out;

	&:hover {
		opacity: 1;
	}

	a {
		display: block;
		text-transform: uppercase;
		font-weight: bold;
		padding: 0.5em;
	}

	&.js-lightbg {
		background-color: #000;
	}
}

.site-footer {
	text-align: center;
	font-weight: bold;
	padding: 20px;
}

.section {
	min-height: 100vh;
	position: relative;
	z-index: 1;
	box-sizing: border-box;
	padding: 25px;
	text-align: center;
	background-color: #000;
	background-repeat: repeat;
}

.bg-blackimg {
	background-image: url( /images/vtg_texture_black.jpg );
}

.bg-whiteimg {
	background-image: url( /images/vtg_texture_white.jpg );
	color: #000;
}

.bg-red {
	background-color: $red;

	h2::after {
		background: #000;
	}
}

.bg-red2 {
	background-color: darken( $red, 10% );

	h2::after {
		background: #000;
	}
}

.section2,
.section2_1 {
	perspective: 1000px;
}

.section2-object1,
.section2_1-object1 {
	position: absolute;
	top: 50%;
	left: 0;
	background: #666;
	height: 100px;
	width: 100px;
}

.section2-object2,
.section2_1-object2 {
	position: absolute;
	top: 50%;
	left: 15%;
	background: #000;
	height: 100px;
	width: 100px;
}

.section2-object3,
.section2_1-object3 {
	position: absolute;
	top: 45%;
	right: 15%;
	background: #000;
	height: 400px;
	width: 400px;
}

.section3 {
	background-color: transparent;
}

.section3-fixedbg {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 100%;
	z-index: -1;

	&.js-active {
		position: fixed;
	}
}
.section3-object1 {
	position: absolute;
	top: 0;
	left: 75%;
	background: #666;
	height: 100px;
	width: 100px;
}

.section3-object2 {
	position: absolute;
	top: 50%;
	left: 40%;
	background: #333;
	height: 45%;
	width: 200px;

	&::before {
		content: "";
		display: block;
		position: absolute;
		z-index: -1;
		top: -10px;
		right: -10px;
		bottom: -10px;
		left: -10px;
		background: rgba( 0, 0, 255, 0.5 );
		opacity: 0;
		transition: opacity .25s ease;
	}

	&::after {
		content: "";
		display: block;
		position: absolute;
		z-index: -2;
		top: -20px;
		right: -20px;
		bottom: -20px;
		left: -20px;
		background: rgba( 255, 0, 0, 0.5 );
		opacity: 0;
		transition: opacity .5s ease;
	}

	span {
		display: none;
		position: absolute;
		top: 75%;
		left: 0;
		right: 0;
		text-align: center;
	}

	&.js-active {
		&::before,
		&::after {
			opacity: 1;
		}

		span {
			display: block;
		}
	}
}

.section4-objects {
	display: flex;
	flex-flow: row wrap;
	width: 80%;
	height: 400px;
	margin: 25px auto;

	> div {
		flex: 1 1 20%;
		background: #ccc;
		border: solid 1px #fff;
	}
}

.section5 {

	&-text {
		font-size: 1.5em;
		font-style: italic;
		color: #8b8bff;
		padding: 1em;

		&-2 {
			position: absolute;
			bottom: 2%;
			left: 50%;
			transform: translateX( -50% );
		}
	}

	&-2col {
		display: flex;

		> div {
			flex: 0 0 50%;
		}

		&-col1 {
			video {
				width: 100%;
				height: auto;
			}
		}

		&-col2 {

			.iframe-container {
				position: relative;
				overflow: hidden;
				padding-top: 56.25%;
			}

			iframe {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}
		}
	}
}

.section6 {

	&-object {
		padding: 80px 0;

		ul {
			list-style: none;
			margin: 0;
			padding: 0;
			display: flex;
			flex-flow: row nowrap;
			justify-content: space-between;
			width: 100%;

			li {
				flex: 1 1 auto;
				height: 20vw;
			}

			li:nth-child( odd ) {
				background: darken( $red, 20% );
			}

			li:nth-child( even ) {
				background: darken( $red, 40% );
			}
		}
	}
}

.section7 {

	.svg-bolt {
		display: block;
		margin: -100px auto -50px;
		height: 80vh;
		width: auto;
		transform: rotate( 55deg );
	}

	.svg-force4good {
		display: block;
		width: 50%;
		height: auto;
		margin: 0 auto 80px;
	}
}

.section8 {
	background-attachment: fixed;
}

.svg-voltage {
	width: 50%;
	height: auto;
	margin: 80px auto;
	transform-origin: center center;
}